<mat-toolbar class="toolbar">
    <h1 class="add">Edit Form</h1>
    <mat-icon class="close" [mat-dialog-close]="true" ng-hover class="closeIcon">close</mat-icon>
</mat-toolbar>


<form [formGroup]="editForm" class="form">
        <mat-form-field appearance="fill"  class="buyersType">
            <mat-label>Buyers type</mat-label>
            <mat-select formControlName="buyerType">
               <mat-option value={{BuyerType.PERSON}}>PERSON</mat-option>
               <mat-option value={{BuyerType.ORGANIZATION}}>ORGANIZATION</mat-option>
            </mat-select>
        </mat-form-field>

    
      <p class="spaceBetween"></p>
<div class="personName">
    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field><p class="spaceBetween"></p>
    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" required="string">
    </mat-form-field><p class="spaceBetween"></p>
    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required="string">
    </mat-form-field><p class="spaceBetween"></p>
    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>Suffix</mat-label>
        <input matInput formControlName="suffix" required="string">
    </mat-form-field>

</div>
<p class="spaceBetween"></p>
    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>Street 1</mat-label>
        <input matInput formControlName="street1" required>
    </mat-form-field>
    <p class="spaceBetween"></p>

    <mat-form-field appearance="fill" class="inputstyle">
        <mat-label>Street2</mat-label>
        <input matInput formControlName="street2" required>
    </mat-form-field>
    <p class="spaceBetween"></p>
    

    <div class="personAddress">
        <mat-form-field appearance="fill" class="inputstyle">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required="string">
        </mat-form-field><p class="spaceBetween"></p>
        <mat-form-field appearance="fill" class="inputstyle">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" required="string">
        </mat-form-field><p class="spaceBetween"></p>
        <mat-form-field appearance="fill" class="inputstyle">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required="string">
        </mat-form-field><p class="spaceBetween"></p>
        
    </div>
    <p class="spaceBetween"></p>
    <mat-form-field appearance="fill" class="inputstyle" class="buyersType">
        <mat-label>Zip/postal Code</mat-label>
        <input matInput formControlName="zipCode" required="string">
    </mat-form-field><p class="spaceBetween"></p>


    <div class="phone">
        <mat-form-field appearance="fill" class="buyersTyoe">
            <mat-label>Phone Number</mat-label>
            <input type="text" matInput formControlName="phone">
        </mat-form-field>


        <mat-form-field appearance="fill" class="email">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" required>
            
        </mat-form-field>
        <span style="color: red;"></span>
</div>
<p class="spaceBetween"></p>
<div class="checkBox">
    <mat-checkbox formControlName="isMilitary"> Is military</mat-checkbox>
    <mat-checkbox formControlName="isRenewalRecipient"> Is Renewal Recipient?</mat-checkbox>
    <mat-checkbox formControlName="sendRenewalByEmail"> Send Renewal By Email?</mat-checkbox>
</div> 
</form>

<mat-toolbar class="toolbarNav">
    <button  mat-raised-button color="primary" (click)="editBuyer()">Submit</button>
</mat-toolbar>