.toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0px !important;
    height: 50px;
}

.add{
    margin-left: 20px;
}

.closeIcon{
    margin-right:10px ;
}

.toolbarNav{
    display: flex;
    justify-content:flex-end;

}