/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-bottom-align::before {
    content: "";
    display: none !important;
    height: 16px;
}
.mat-dialog-content{
    overflow-x: hidden !important;   
}

.custom-dialog-container .mat-dialog-container {
   padding: 0px !important;
   overflow-x: hidden !important;
   width: 800px;
}

 .green{
    background: white;
    color: white;
} 

.warn-snackbar{
    background: red;
    color: white;
}   

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
}
.green {
      --mdc-snackbar-container-color:  #43a446;
    }
  
.red {
      --mdc-snackbar-container-color: #f23a2f;
    }
  
